<?xml version="1.0" encoding="utf-8"?>
<!--
LANGMASTER\pavel
Server=localhost\SQLEXPRESS01;Database=master;Trusted_Connection=True;

https://docs.microsoft.com/en-us/sql/relational-databases/system-catalog-views/full-text-search-and-semantic-search-catalog-views-transact-sql?view=sql-server-2017

"C:\Program Files\Microsoft SQL Server\Client SDK\ODBC\130\Tools\Binn\SQLCMD.EXE" -S PZ-DESKTOP\SQLEXPRESS01 -E
"C:\Program Files\Microsoft SQL Server\140\Setup Bootstrap\SQL2017\x64\LandingPage.exe"

Bulk insert:
context.Configuration.AutoDetectChangesEnabled = false;
context.Configuration.ValidateOnSaveEnabled = false;
https://docs.microsoft.com/en-us/sql/relational-databases/databases/set-a-database-to-single-user-mode?view=sql-server-2017

d:\rw\design\glob\alphabets\
d:\rw\libs\Fulltext\
d:\rw\libs\FulltextDlls\
d:\rw\convert-old-solution\
d:\rw\convert-old-solution\NewLMComModel\Design\Dictionaries.cs

https://docs.microsoft.com/cs-cz/ef/ef6/modeling/code-first/migrations/

SQL Server word breking and stemming

Dostupne jazyky:
select * from sys.fulltext_languages
EXEC sp_help_fulltext_system_components 'wordbreaker';

SELECT  *  FROM sys.dm_fts_parser ('FORMSOF( FREETEXT, "koněm")', 1036, 0, 1)  
SELECT * FROM sys.dm_fts_parser (N'FORMSOF ( FREETEXT, "''берлинский")', 1049, 0, 1)

-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DesignConnectionString" connectionString="data source=localhost\SQLEXPRESS01;initial catalog=FulltextDesign;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

<!--
https://www.red-gate.com/simple-talk/sql/t-sql-programming/sql-server-user-defined-functions/
-->